@font-face {
    font-family: swansea-bold;
    src: url(assets/SwanseaBold-D0ox.ttf);
}

body {
    margin: 0;
    font-family: swansea-bold, 'Arial', sans-serif;
    background: url('assets/ryan-klaus-IncXhM8rKSc-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
    justify-content: center;

    font-size: 5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    text-align: left;
    line-height: 0.8em;
    color: white;
}

/* https://stackoverflow.com/questions/49444916/hide-background-image-overflow-equally-from-left-and-right */
#bgImg {
    /* We'll be positioning the <img> relative to the <div>. */
    position: relative;
    /* Don't let an oversized background image stretch out the <div>. */
    overflow: hidden;
}

#bgImg>img {
    /* Since the image is an <img> element and not a background-image,
    we don't have to worry about it shrinking, but we do need to
    explicitly make it no smaller than the containing <div>. */
    min-width: 100%;
    /* Don't get in the way of positioning other elements. */
    position: absolute;
    /* Move the left edge of the image to the center of the <div>, then
    shift it back by half the width of the <img>. Result: centered
    image. */
    left: 50%;
    transform: translateX(-50%);
    /* It's supposed to be a background image, so put it behind other
    content. */
    z-index: -1;
}

#middle-panel {
    background-color: rgba(9, 151, 188, 0.7);
    width: 100%;
    height: 100%;
    z-index: 1;
}

#message-container {
    word-wrap: break-word;
    margin: 1em auto auto 1em;
    inset: 0;
}

#room-name {
    font-size: 120%;
    font-weight: bold;
}

#availability,
#ongoing-event,
#event-time {
    font-size: 70%;
}

#availability.available {
    background-color: green;
}

#availability.unavailable {
    background-color: red;
}

#digital-clock {
    position: absolute;
    font-size: 60%;
    text-align: end;
    bottom: 1.3em;
    right: 0.6em;
    z-index: 2;
}

#change-message-btn {
    position: absolute;
    top: 1em;
    right: 1em;
    aspect-ratio: 1 / 1;
    padding: 0.5em;
    font-size: 19%;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: black solid 2px;
    border-radius: 0.5em;
    transition: background-color 0.3s ease;
    z-index: 2;
}

#change-message-btn:hover {
    background-color: #2980b9;
}

#time {
    font-size: 3em;
    margin-top: 0.4em;
}

/* Landscape TV Sizes */
@media only screen and (min-width: 1280px) and (min-height: 720px) {
    /* Styles for 720p TVs */
}

@media only screen and (min-width: 1920px) and (min-height: 1080px) {

    /* Styles for 1080p TVs */
    body {
        font-size: 7em;
    }
}

/* Portrait TV Sizes */
@media only screen and (min-width: 720px) and (min-height: 1280px) {

    /* Styles for 720p TVs in portrait mode */
    #room-name {
        line-height: 1.2em;
    }
}

@media only screen and (min-width: 1080px) and (min-height: 1920px) {

    /* Styles for 1080p TVs in portrait mode */
    body {
        font-size: 7.2em;
    }

    #message-container {
        margin-right: 0.5em;
    }

    #room-name {
        line-height: 1.2em;
    }
}